* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.headerContainer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px 100px 64px;
  gap: 18px;
}

.ul {
  display: flex;
  list-style-type: none;
  gap: 18px;
}

li {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.headerMainText {
  color: #f9faf8;
  flex-shrink: 0;
}

.headerSubText {
  color: #e5e7eb;
  margin-bottom: 8px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 100px 64px;
}

.headerTitle {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.signUp1 {
  color: #fff;
  background-color: #3882f6;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 22px;
  border-radius: 8px;
}

.sectionOne {
  text-align: center;
}

.sectionOneHeader {
  margin: 24px 0px;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0px auto 52px;
  padding: 0px 100px;
  gap: 36px;
  flex-wrap: wrap;
}

.images {
  width: 152px;
}

.illustration {
  border-radius: 10px;
  border: 2px solid #3882f6;
}
